<br>


    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-8 px-4 sm:px-6 lg:px-2 mb-5">
        <div class="max-w-md w-full space-y-8">
            <h2 class="text-8xl font-bold leading-10 text-gray-900 sm:text-7xl ">
                Sistema de autentificacion
            </h2>
            <img src="resources/logo.png" alt=" Osito voli" style="height: 500px; width: 500px;">

        </div>

    </div>